Repository aimclub/FEDOT, pull requests merged in 2021-05, with the labels that each got.

#271 Evolutionary operators saving to composing history
  cases/credit_scoring_problem_multiobj.py
  fedot/api/api_utils.py
  fedot/api/main.py
  fedot/core/chains/chain.py
  fedot/core/chains/chain_template.py
  fedot/core/composer/composing_history.py
  fedot/core/composer/optimisers/gp_comp/gp_operators.py
  fedot/core/composer/optimisers/gp_comp/gp_optimiser.py
  fedot/core/composer/optimisers/gp_comp/individual.py
  fedot/core/composer/optimisers/gp_comp/operators/crossover.py
  fedot/core/composer/optimisers/gp_comp/operators/mutation.py
  fedot/core/composer/optimisers/gp_comp/operators/regularization.py
  fedot/core/composer/optimisers/gp_comp/operators/selection.py
  fedot/core/composer/optimisers/gp_comp/param_free_gp_optimiser.py
  test/unit/chains/test_chain.py
  test/unit/composer/test_composer.py
  test/unit/composer/test_gp_operators.py
  test/unit/composer/test_history.py
  test/unit/composer/test_selection_operators.py
  test/unit/visualization/test_composing_history.py
Labels: composer

#303 Data counter implementation
  fedot/core/data/data.py
  fedot/core/data/merge.py
  fedot/core/data/supplementary_data.py
  fedot/core/operations/evaluation/evaluation_interfaces.py
  fedot/core/operations/evaluation/operation_implementations/data_operations/decompose.py
  fedot/core/operations/evaluation/operation_implementations/implementation_interfaces.py
  fedot/core/operations/operation.py
  test/unit/chains/test_decompose_chains.py
  test/unit/data/test_data_merge.py
  test/unit/data/test_supplementary_data.py
Labels: discuss

#296 Target flexible chain implemented
  cases/credit_scoring/credit_scoring_problem.py
  cases/credit_scoring/credit_scoring_problem_multiobj.py
  cases/data/time_series/economic_data.csv
  cases/data/time_series/metocean.csv
  examples/classification_with_tuning_example.py
  examples/decompose/__init__.py
  examples/decompose/classification_refinement_example.py
  examples/decompose/refinement_forecast_example.py
  examples/decompose/regression_refinement_example.py
  examples/ts_forecasting_tuning.py
  examples/ts_forecasting_with_exogenous.py
  examples/ts_multistep_example.py
  fedot/core/chains/chain.py
  fedot/core/chains/chain_validation.py
  fedot/core/data/data.py
  fedot/core/data/merge.py
  fedot/core/data/supplementary_data.py
  fedot/core/operations/atomized_model.py
  fedot/core/operations/evaluation/classification.py
  fedot/core/operations/evaluation/common_preprocessing.py
  fedot/core/operations/evaluation/evaluation_interfaces.py
  fedot/core/operations/evaluation/operation_implementations/data_operations/decompose.py
  fedot/core/operations/evaluation/operation_implementations/implementation_interfaces.py
  fedot/core/operations/evaluation/regression.py
  fedot/core/operations/operation.py
  fedot/core/repository/data/data_operation_repository.json
  test/integration/real_applications/test_real_cases.py
  test/unit/chains/test_chain_validation.py
  test/unit/chains/test_decompose_chains.py
  test/unit/data/test_data_merge.py
  test/unit/data/test_supplementary_data.py
  test/unit/data_operations/test_cross_validation.py
  test/unit/tasks/test_forecasting.py
  test/unit/utilities/test_profiler.py
Labels: core, research
