Repository aimclub/FEDOT, pull requests merged in 2022-07, with the labels that each got.

#745 Editing a ReadMe
  README.rst
  docs/pipeline_small.png
  fedot/api/main.py
Labels: documentation

#781 743 refactor usages of graph
  examples/advanced/fedot_based_solutions/graph_model_optimization.py
  fedot/core/composer/random_composer.py
  fedot/core/dag/graph.py
  fedot/core/dag/graph_operator.py
  fedot/core/optimisers/gp_comp/gp_operators.py
  fedot/core/optimisers/gp_comp/operators/crossover.py
  fedot/core/optimisers/gp_comp/operators/mutation.py
  fedot/core/optimisers/graph.py
  fedot/core/pipelines/pipeline.py
  fedot/core/pipelines/tuning/sequential.py
  fedot/core/pipelines/verification_rules.py
  fedot/core/serializers/coders/graph_serialization.py
  fedot/sensitivity/deletion_methods/multi_times_analysis.py
  test/unit/dag/test_graph.py
  test/unit/dag/test_graph_operator.py
  test/unit/optimizer/test_gp_operators.py
  test/unit/pipelines/test_pipeline.py
  test/unit/serialization/mocks/serialization_mocks.py
  test/unit/serialization/test_encoder.py
  test/unit/tasks/test_custom.py
  test/unit/utilities/test_pipeline_import_export.py
  test/unit/visualization/test_visualisation_utils.py
Labels: core, refactoring, in progress

#795 Abstract Populational Optimiser
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  fedot/core/optimisers/optimizer.py
  fedot/core/optimisers/populational_optimiser.py
Labels: enhancement, core

#786 Avoid failing optimization when all pipelines are evaluated with errors
  fedot/api/api_utils/assumptions/assumptions_handler.py
  fedot/core/constants.py
  fedot/core/dag/graph_verifier.py
  fedot/core/optimisers/gp_comp/evaluation.py
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  test/unit/optimizer/test_evaluation.py
Labels: enhancement, core
