Repository aimclub/FEDOT, pull requests merged in 2022-09, with the labels that each got.

#750 Unify Graph class hierarchy
  examples/advanced/fedot_based_solutions/external_optimizer.py
  examples/advanced/fedot_based_solutions/graph_model_optimization.py
  fedot/core/composer/gp_composer/gp_composer.py
  fedot/core/composer/random_composer.py
  fedot/core/dag/graph.py
  fedot/core/dag/graph_delegate.py
  fedot/core/dag/graph_node.py
  fedot/core/dag/graph_operator.py
  fedot/core/dag/node_operator.py
  fedot/core/optimisers/gp_comp/operators/mutation.py
  fedot/core/optimisers/graph.py
  fedot/core/optimisers/opt_node_factory.py
  fedot/core/optimisers/optimizer.py
  fedot/core/optimisers/populational_optimizer.py
  fedot/core/pipelines/convert.py
  fedot/core/pipelines/node.py
  fedot/core/pipelines/pipeline.py
  fedot/core/pipelines/pipeline_builder.py
  fedot/core/pipelines/pipeline_node_factory.py
  fedot/core/pipelines/verification_rules.py
  fedot/core/serializers/coders/__init__.py
  fedot/core/serializers/coders/graph_serialization.py
  fedot/core/serializers/serializer.py
  fedot/core/utilities/data_structures.py
  fedot/sensitivity/nodes_sensitivity.py
  test/unit/dag/test_graph.py
  test/unit/dag/test_graph_operator.py
  test/unit/dag/test_node.py
  test/unit/optimizer/test_external.py
  test/unit/optimizer/test_generation_keeper.py
  test/unit/pipelines/test_pipeline_builder.py
  test/unit/serialization/conftest.py
  test/unit/serialization/mocks/serialization_mocks.py
  test/unit/tasks/test_custom.py
  test/unit/visualization/test_composing_history.py
  test/unit/visualization/test_graph_visualizations.py
Labels: core

#863 Change parent operators usage
  examples/data/histories/scoring_case_history.json
  examples/data/history/opt_history.json
  examples/simple/pipeline_and_history_visualization.py
  fedot/core/optimisers/fitness/fitness.py
  fedot/core/optimisers/gp_comp/individual.py
  fedot/core/optimisers/gp_comp/operators/crossover.py
  fedot/core/optimisers/gp_comp/operators/mutation.py
  fedot/core/optimisers/gp_comp/operators/regularization.py
  fedot/core/serializers/coders/__init__.py
  fedot/core/serializers/coders/individual_serialization.py
  fedot/core/serializers/coders/opt_history_serialization.py
  fedot/core/serializers/serializer.py
  test/data/fast_train_classification_history.json
  test/data/test_history.json
  test/unit/composer/test_history.py
  test/unit/optimizer/test_gp_operators.py
Labels: enhancement, refactoring

#852 Refactor API: ComposerRequirements and ComposerBuilder
  cases/credit_scoring/credit_scoring_problem_multiobj.py
  cases/river_levels_prediction/river_level_case_composer.py
  examples/advanced/fedot_based_solutions/graph_model_optimization.py
  examples/advanced/pipeline_sensitivity.py
  examples/advanced/sensitivity_analysis/pipelines_access.py
  examples/advanced/time_series_forecasting/composing_pipelines.py
  examples/advanced/time_series_forecasting/multi_ts_arctic_forecasting.py
  fedot/api/api_utils/api_composer.py
  fedot/api/api_utils/metrics.py
  fedot/api/api_utils/params.py
  fedot/api/main.py
  fedot/core/composer/composer_builder.py
  fedot/core/composer/gp_composer/gp_composer.py
  fedot/core/composer/gp_composer/specific_operators.py
  fedot/core/composer/random_composer.py
  fedot/core/operations/hyperparameters_preprocessing.py
  fedot/core/optimisers/archive/generation_keeper.py
  fedot/core/optimisers/composer_requirements.py
  fedot/core/optimisers/gp_comp/gp_operators.py
  fedot/core/optimisers/gp_comp/gp_optimizer.py
  fedot/core/optimisers/gp_comp/gp_params.py
  fedot/core/optimisers/gp_comp/operators/crossover.py
  fedot/core/optimisers/gp_comp/operators/elitism.py
  fedot/core/optimisers/gp_comp/operators/inheritance.py
  fedot/core/optimisers/gp_comp/operators/mutation.py
  fedot/core/optimisers/gp_comp/operators/operator.py
  fedot/core/optimisers/gp_comp/operators/regularization.py
  fedot/core/optimisers/gp_comp/operators/selection.py
  fedot/core/optimisers/gp_comp/parameters/graph_depth.py
  fedot/core/optimisers/gp_comp/parameters/operators_prob.py
  fedot/core/optimisers/gp_comp/parameters/population_size.py
  fedot/core/optimisers/gp_comp/pipeline_composer_requirements.py
  fedot/core/optimisers/initial_graphs_generator.py
  fedot/core/optimisers/objective/objective_eval.py
  fedot/core/optimisers/opt_node_factory.py
  fedot/core/optimisers/optimizer.py
  fedot/core/optimisers/populational_optimizer.py
  fedot/core/pipelines/pipeline_node_factory.py
  test/unit/api/test_main_api.py
  test/unit/composer/test_builder.py
  test/unit/composer/test_composer.py
  test/unit/composer/test_history.py
  test/unit/optimizer/test_default_node_factory.py
  test/unit/optimizer/test_elitism_operator.py
  test/unit/optimizer/test_gp_operators.py
  test/unit/optimizer/test_initial_population_generator.py
  test/unit/optimizer/test_selection_operators.py
  test/unit/tasks/test_custom.py
  test/unit/validation/test_time_series_cv.py
Labels: refactoring, api
