Repository aimclub/FEDOT, pull requests merged in 2022-06, with the labels that each got.

#697 Generalize Evaluation subsystem and Objective interface
  examples/advanced/fedot_based_solutions/external_optimizer.py
  fedot/core/composer/gp_composer/gp_composer.py
  fedot/core/composer/random_composer.py
  fedot/core/optimisers/gp_comp/evaluation.py
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  fedot/core/optimisers/gp_comp/operators/operator.py
  fedot/core/optimisers/gp_comp/operators/regularization.py
  fedot/core/optimisers/objective/__init__.py
  fedot/core/optimisers/objective/data_objective_eval.py
  fedot/core/optimisers/objective/objective.py
  fedot/core/optimisers/objective/objective_eval.py
  fedot/core/optimisers/optimizer.py
  test/unit/composer/test_history.py
  test/unit/optimizer/test_external.py
  test/unit/optimizer/test_gp_operators.py
Labels: core, composer

#695 Leaderboard added to OptHistory
  cases/credit_scoring/credit_scoring_problem.py
  examples/advanced/fedot_based_solutions/external_optimizer.py
  fedot/core/dag/graph_operator.py
  fedot/core/optimisers/fitness/fitness.py
  fedot/core/optimisers/fitness/multi_objective_fitness.py
  fedot/core/optimisers/generation_keeper.py
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  fedot/core/optimisers/gp_comp/individual.py
  fedot/core/optimisers/graph.py
  fedot/core/optimisers/opt_history.py
  fedot/core/optimisers/optimizer.py
  fedot/core/serializers/coders/opt_history_serialization.py
  test/unit/optimizer/test_generation_keeper.py
  test/unit/visualization/test_composing_history.py
Labels: enhancement, composer

#708 Naive forecasters for time series implemented
  examples/advanced/time_series_forecasting/composing_pipelines.py
  examples/advanced/time_series_forecasting/multi_ts_arctic_forecasting.py
  examples/advanced/time_series_forecasting/multistep.py
  examples/simple/time_series_forecasting/ts_pipelines.py
  examples/simple/time_series_forecasting/tuning_pipelines.py
  fedot/core/operations/evaluation/operation_implementations/data_operations/ts_transformations.py
  fedot/core/operations/evaluation/operation_implementations/models/ts_implementations/clstm.py
  fedot/core/operations/evaluation/operation_implementations/models/ts_implementations/naive.py
  fedot/core/operations/evaluation/time_series.py
  fedot/core/pipelines/tuning/search_space.py
  fedot/core/repository/data/default_operation_params.json
  fedot/core/repository/data/model_repository.json
  test/unit/models/test_model.py
Labels: enhancement, core

#712 Update statsmodels models
  test/unit/pipelines/test_pipeline_ts_wrappers.py
Labels: minor

#700 Consistency and backward compatibility of OptHistory
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  fedot/core/optimisers/gp_comp/initial_population_builder.py
  fedot/core/optimisers/opt_history.py
  fedot/core/optimisers/optimizer.py
  fedot/core/serializers/coders/__init__.py
  fedot/core/serializers/coders/individual_serialization.py
  fedot/core/serializers/coders/opt_history_serialization.py
  fedot/core/serializers/serializer.py
  fedot/core/visualisation/opt_viz.py
  test/data/test_history.json
  test/unit/composer/test_history.py
  test/unit/optimizer/test_generation_keeper.py
Labels: bug, minor

#716 Refactor ApiComposer for simpler logic
  cases/credit_scoring/credit_scoring_problem_multiobj.py
  cases/multi_modal_genre_prediction.py
  examples/advanced/fedot_based_solutions/external_optimizer.py
  examples/advanced/fedot_based_solutions/graph_model_optimization.py
  examples/advanced/pipeline_sensitivity.py
  examples/advanced/sensitivity_analysis/pipelines_access.py
  examples/advanced/time_series_forecasting/composing_pipelines.py
  examples/advanced/time_series_forecasting/multi_ts_arctic_forecasting.py
  fedot/api/api_utils/api_composer.py
  fedot/api/api_utils/assumptions/assumptions_builder.py
  fedot/api/api_utils/presets.py
  fedot/api/main.py
  fedot/api/time.py
  fedot/core/composer/composer_builder.py
  fedot/core/composer/gp_composer/gp_composer.py
  fedot/core/composer/random_composer.py
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  fedot/core/optimisers/opt_history.py
  fedot/core/optimisers/optimizer.py
  fedot/core/visualisation/opt_viz.py
  test/unit/api/test_main_api.py
  test/unit/api/test_presets.py
  test/unit/composer/test_builder.py
  test/unit/composer/test_composer.py
  test/unit/optimizer/test_external.py
  test/unit/tasks/test_custom.py
Labels: core, refactoring

#729 Improve repositories tags consistency
  examples/simple/pipeline_and_history_visualization.py
  fedot/core/optimisers/opt_history.py
  fedot/core/repository/data/data_operation_repository.json
  fedot/core/repository/data/model_repository.json
  fedot/core/repository/operation_types_repository.py
  fedot/core/visualisation/opt_viz.py
  test/data/model_repository.json
  test/unit/models/test_repository.py
Labels: test, minor

#730 Extract GraphValidator instead of validate()
  examples/advanced/fedot_based_solutions/graph_model_optimization.py
  fedot/core/composer/composer_builder.py
  fedot/core/composer/constraint.py
  fedot/core/dag/graph_verifier.py
  fedot/core/dag/verification_rules.py
  fedot/core/optimisers/gp_comp/gp_operators.py
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  fedot/core/optimisers/gp_comp/initial_population_builder.py
  fedot/core/optimisers/gp_comp/operators/crossover.py
  fedot/core/optimisers/gp_comp/operators/mutation.py
  fedot/core/optimisers/gp_comp/operators/regularization.py
  fedot/core/optimisers/optimizer.py
  fedot/core/pipelines/verification.py
  fedot/core/pipelines/verification_rules.py
  fedot/remote/remote_evaluator.py
  fedot/remote/run_pipeline.py
  fedot/sensitivity/node_sa_approaches.py
  test/unit/composer/test_composer.py
  test/unit/composer/test_history.py
  test/unit/dag/test_node_operator.py
  test/unit/optimizer/test_gp_operators.py
  test/unit/optimizer/test_selection_operators.py
  test/unit/pipelines/test_pipeline_validation.py
  test/unit/tasks/test_custom.py
Labels: core, refactoring
