Repository aimclub/FEDOT, pull requests merged in 2022-05, with the labels that each got.

#208 Export/import of AutoML session as zip
  docs/source/fedot/features/pipeline_json.rst
  docs/source/fedot/utilities/project_import_export.rst
  examples/project_import_export.py
  fedot/api/api_utils/api_data.py
  fedot/api/main.py
  fedot/core/data/data.py
  fedot/core/validation/tune/simple.py
  fedot/utilities/project_import_export.py
  test/data/project/iris_classification.zip
  test/unit/utilities/test_project_import_export.py
Labels: enhancement

#676 Links in README are updated
  README.rst
Labels: documentation

#662 Refactor improvement checking and adaptive population size in GP Optimisers
  examples/advanced/multiobj_optimisation.py
  fedot/api/api_utils/api_composer.py
  fedot/api/api_utils/api_data.py
  fedot/api/main.py
  fedot/core/composer/composer.py
  fedot/core/composer/composer_builder.py
  fedot/core/composer/gp_composer/gp_composer.py
  fedot/core/data/data.py
  fedot/core/optimisers/gp_comp/archive.py
  fedot/core/optimisers/gp_comp/generation_keeper.py
  fedot/core/optimisers/gp_comp/gp_operators.py
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  fedot/core/optimisers/gp_comp/intermediate_metric.py
  fedot/core/optimisers/gp_comp/iterator.py
  fedot/core/optimisers/gp_comp/operators/mutation.py
  fedot/core/optimisers/gp_comp/param_free_gp_optimiser.py
  fedot/core/optimisers/gp_comp/parameters/__init__.py
  fedot/core/optimisers/gp_comp/parameters/parameter.py
  fedot/core/optimisers/gp_comp/parameters/population_size.py
  fedot/core/optimisers/optimizer.py
  fedot/core/optimisers/utils/pareto.py
  fedot/core/optimisers/utils/population_utils.py
  fedot/core/pipelines/pipeline.py
  fedot/core/utilities/data_structures.py
  fedot/core/utilities/grouped_condition.py
  fedot/core/validation/metric_estimation.py
  fedot/core/visualisation/opt_viz.py
  test/unit/api/test_presets.py
  test/unit/composer/test_builder.py
  test/unit/composer/test_composer.py
  test/unit/composer/test_history.py
  test/unit/optimizer/test_generation_keeper.py
  test/unit/optimizer/test_optimiser_utils.py
Labels: core, composer

#678 Abstract notion of Objective, its evaluation and refactor usages of metrics
  examples/advanced/fedot_based_solutions/external_optimizer.py
  examples/advanced/fedot_based_solutions/graph_model_optimization.py
  fedot/core/composer/composer.py
  fedot/core/composer/composer_builder.py
  fedot/core/composer/gp_composer/gp_composer.py
  fedot/core/composer/metrics.py
  fedot/core/composer/random_composer.py
  fedot/core/constants.py
  fedot/core/optimisers/fitness/fitness.py
  fedot/core/optimisers/gp_comp/generation_keeper.py
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  fedot/core/optimisers/gp_comp/individual.py
  fedot/core/optimisers/gp_comp/operators/crossover.py
  fedot/core/optimisers/gp_comp/operators/evaluation.py
  fedot/core/optimisers/gp_comp/operators/mutation.py
  fedot/core/optimisers/gp_comp/operators/operator.py
  fedot/core/optimisers/gp_comp/operators/regularization.py
  fedot/core/optimisers/gp_comp/param_free_gp_optimiser.py
  fedot/core/optimisers/objective/__init__.py
  fedot/core/optimisers/objective/data_objective_builder.py
  fedot/core/optimisers/objective/data_objective_eval.py
  fedot/core/optimisers/objective/objective.py
  fedot/core/optimisers/objective/objective_eval.py
  fedot/core/optimisers/opt_history.py
  fedot/core/optimisers/optimizer.py
  fedot/core/optimisers/utils/population_utils.py
  fedot/core/repository/quality_metrics_repository.py
  fedot/core/serializers/coders/any_serialization.py
  fedot/core/serializers/coders/parent_operator_serialization.py
  fedot/core/serializers/serializer.py
  fedot/core/validation/metric_estimation.py
  test/unit/composer/test_builder.py
  test/unit/composer/test_composer.py
  test/unit/composer/test_history.py
  test/unit/optimizer/test_external.py
  test/unit/optimizer/test_generation_keeper.py
  test/unit/optimizer/test_gp_operators.py
  test/unit/tasks/test_custom.py
  test/unit/validation/test_table_cv.py
Labels: core, composer

#685 Divided requirements for setup
  .github/workflows/manual-build.yml
  .github/workflows/unit-build.yml
  .readthedocs.yml
  .travis.yml
  Dockerfile
  Dockerfile_light
  README.rst
  docs/requirements.txt
  docs/source/fedot/features/gpu_evaluation.rst
  docs/source/fedot/installation.rst
  docs/source/fedot/quickstart.rst
  examples/requirements.txt
  examples/simple/classification/image_classification_problem.py
  examples/simple/classification/multiclass_prediction.py
  extra_requirements.txt
  fedot/core/data/data.py
  fedot/core/operations/evaluation/operation_implementations/data_operations/text_preprocessing.py
  fedot/core/operations/evaluation/operation_implementations/models/keras.py
  fedot/core/operations/evaluation/operation_implementations/models/ts_implementations/clstm.py
  fedot/core/operations/evaluation/text.py
  fedot/core/visualisation/opt_viz.py
  fedot/remote/remote_run_dockerfile
  fedot/utilities/profiler/memory_profiler.py
  fedot/utilities/profiler/requirements_memory_profiler.txt
  fedot/utilities/profiler/requirements_time_profiler.txt
  fedot/utilities/profiler/time_profiler.py
  fedot/utilities/requirements_notificator.py
  gpu/Dockerfile
  light_requirements.txt
  other_requirements/docs.txt
  other_requirements/examples.txt
  other_requirements/extra.txt
  other_requirements/profilers.txt
  requirements.txt
  setup.py
  test/unit/tasks/test_classification.py
Labels: documentation, deployment, dependencies

#687 Unify implementations of GP Optimisers
  examples/advanced/fedot_based_solutions/external_optimizer.py
  fedot/api/api_utils/api_composer.py
  fedot/core/composer/gp_composer/gp_composer.py
  fedot/core/optimisers/generation_keeper.py
  fedot/core/optimisers/gp_comp/gp_optimiser.py
  fedot/core/optimisers/gp_comp/param_free_gp_optimiser.py
  fedot/core/optimisers/gp_comp/parameters/mutation_prob.py
  fedot/core/optimisers/gp_comp/parameters/parameter.py
  fedot/core/optimisers/gp_comp/parameters/population_size.py
  fedot/core/optimisers/opt_history.py
  fedot/core/optimisers/optimizer.py
  fedot/core/utilities/data_structures.py
  fedot/core/visualisation/opt_viz.py
  test/unit/optimizer/test_external.py
  test/unit/optimizer/test_generation_keeper.py
  test/unit/test_utils.py
Labels: core, composer
