Repository aimclub/FEDOT, pull requests merged in 2023-01, with the labels that each got.

#1024 Add 2 examples
  cases/evo_operators_comparison/evo_operators_comparison.py
  cases/evo_operators_comparison/req.txt
  cases/kc2_sourcecode_defects_classification.py
Labels: cases

#1019 Various fixes to work with large datasets in better way
  docs/source/basics/index.rst
  docs/source/index.rst
  examples/advanced/fedot_based_solutions/external_optimizer.py
  fedot/api/api_utils/api_composer.py
  fedot/api/api_utils/assumptions/assumptions_handler.py
  fedot/api/api_utils/params.py
  fedot/api/main.py
  fedot/api/time.py
  fedot/core/caching/pipelines_cache.py
  fedot/core/caching/preprocessing_cache.py
  fedot/core/composer/composer_builder.py
  fedot/core/composer/gp_composer/gp_composer.py
  fedot/core/composer/metrics.py
  fedot/core/constants.py
  fedot/core/log.py
  fedot/core/optimisers/archive/individuals_containers.py
  fedot/core/optimisers/composer_requirements.py
  fedot/core/optimisers/gp_comp/evaluation.py
  fedot/core/optimisers/objective/data_objective_eval.py
  fedot/core/optimisers/opt_history_objects/individual.py
  fedot/core/optimisers/populational_optimizer.py
  fedot/core/pipelines/tuning/sequential.py
  fedot/core/pipelines/tuning/tuner_builder.py
  fedot/core/pipelines/tuning/tuner_interface.py
  fedot/core/pipelines/tuning/unified.py
  requirements.txt
  test/unit/api/test_main_api.py
  test/unit/optimizer/test_data_objective_eval.py
  test/unit/optimizer/test_elitism_operator.py
  test/unit/optimizer/test_evaluation.py
Labels: in progress

#1021 Added tune method to API
  fedot/api/api_utils/api_composer.py
  fedot/api/api_utils/params.py
  fedot/api/main.py
  fedot/core/pipelines/tuning/tuner_builder.py
  test/unit/api/test_main_api.py
  test/unit/pipelines/tuning/test_tuner_builder.py
  test/unit/tasks/test_classification.py
Labels: api

#990 API improvements
  docs/source/advanced/index.rst
  examples/advanced/remote_execution/ts_composer_with_integration.py
  fedot/api/api_utils/api_data.py
  fedot/api/api_utils/data_definition.py
  fedot/api/main.py
  fedot/core/data/data.py
  fedot/core/data/multi_modal.py
  fedot/core/repository/dataset_types.py
  fedot/remote/run_pipeline.py
  test/data/dummy.csv
  test/data/remote/remote_config_ts_multivar
  test/unit/api/test_main_api.py
  test/unit/data/test_data.py
  test/unit/tasks/test_classification.py
Labels: api

#1032 Hotfix #1021 after merging into master
  test/unit/api/test_main_api.py
Labels: bug
